{% extends 'base1.html' %}
{% load static %}
{% block content %}

<body>

        <main class="main">
            <div class="category-banner-container bg-gray">
                <div class="category-banner banner text-uppercase" style="background: no-repeat 60%/cover url('static/assets/images/banners/banner-top.jpg');">
                    <div class="container position-relative">
                        <div class="row">
                            <div class="pl-lg-5 pb-5 pb-md-0 col-md-5 col-xl-4 col-lg-4 offset-1">
                                <h3>Electronic<br>Deals</h3>
                                <a href="category.html" class="btn btn-dark">Get Yours!</a>
                            </div>
                            <div class="pl-lg-3 col-md-4 offset-md-0 offset-1 pt-3">
                                <div class="coupon-sale-content">
                                    <h4 class="m-b-1 coupon-sale-text bg-white text-transform-none">Exclusive COUPON
                                    </h4>
                                    <h5 class="mb-2 coupon-sale-text d-block ls-10 p-0"><i class="ls-0">UP TO</i><b class="text-dark">$100</b> OFF</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <nav aria-label="breadcrumb" class="breadcrumb-nav">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'core:collections' %}"><i class="icon-home"></i></a></li>
                        <li class="breadcrumb-item active" aria-current="page">Store Categories</li>
                    </ol>
                </nav>

                <nav class="toolbox sticky-header" data-sticky-options="{'mobile': true}">
                </nav>

                <div class="row row-sm">
                    {% for item in category %}
                        <div class="col-6 col-sm-4 col-md-3 col-xl-8col">
                            <div class="product-default">
                                <figure>
                                    <a href="{% url 'core:collectionsview' item.slug %}">
                                        <img src="{{ item.image.url}}" width="130" height="130" alt="product" />
                                        <img src="{{ item.image.url}}" width="130" height="130" alt="product" />
                                    </a>

                                    <div class="label-group">
                                        {% if item.trending %}
                                        <div class="product-label label-hot">HOT</div>
                                        {% endif %}
                                        <div class="product-label label-sale">-20%</div>
                                    </div>
                                </figure>

                                <div class="product-details">
                                    <div class="category-wrap">
                                        <div class="category-list">
                                            <a href="category.html" class="product-category">category</a>
                                        </div>
                                    </div>

                                    <h3 class="product-title"> <a href="product.html">{{ item.title }}</a>
                                    </h3>

                                    <div class="ratings-container">
                                        <div class="product-ratings">
                                            <span class="ratings" style="width:100%"></span>
                                            <!-- End .ratings -->
                                            <span class="tooltiptext tooltip-top"></span>
                                        </div>
                                        <!-- End .product-ratings -->
                                    </div>
                                    <!-- End .product-container -->

                                    <div class="price-box">
                                        <span class="old-price">$90.00</span>
                                        <span class="product-price">$70.00</span>
                                    </div>
                                    <!-- End .price-box -->
                                </div>
                                <!-- End .product-details -->
                            </div>
                        </div>
                        <!-- End .col-sm-4 -->
                    {% endfor %}

                </div>
                <!-- End .row -->

            </div>
            <!-- End .container -->


            <div class="mb-3"></div>
            <!-- margin -->
        </main>
        <!-- End .main -->

    </div>
    <!-- End .page-wrapper -->

{% include "mobile_menu.html" %}
<!-- Mirrored from portotheme.com/html/porto_ecommerce/category-8col.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 09 Sep 2022 10:10:20 GMT -->
</html>



<button title="Close (Esc)" type="button" class="mfp-close">
    ×
</button>
</div>
<!-- End .newsletter-popup -->


    <a id="scroll-top" href="#top" title="Top" role="button"><i class="icon-angle-up"></i></a>
{% endblock content %}