 {% load static %}
 <div class="header-bottom sticky-header d-none d-lg-block" data-sticky-options="{'mobile': false}">
    <div class="container">
        <nav class="main-nav w-100">
            <ul class="menu">
                <li>
                    <a href="{% url 'core:collections' %}">Home</a>
                </li>
                <li>
                    <a href="#">Pages</a>
                    <ul>
                        <li><a href="cart.html">Shopping Cart</a></li>
                        <li><a href="{% url 'core:checkout' %}">Checkout</a></li>
                        <li><a href="{% url 'core:dashboard' %}">Dashboard</a></li>
                        <li><a href="about.html">About Us</a></li>
                        </li>
                        <li><a href="{% url 'core:contact' %}">Contact Us</a></li>
                        {% if request.user.is_authenticated %}
                            <li><a href="{% url 'account_logout' %}">Logout</a></li>
                        {% else %}
                        <li><a href="{% url 'account_login' %}">Login</a></li>
                        {% endif %}
                        <li><a href="{% url 'account_reset_password' %}">Forgot Password</a></li>
                    </ul>
                </li>
                              <li><a href="{% url 'core:contact' %}">Contact Us</a></li>
                <li class="float-right"><a href="https://1.envato.market/DdLk5" class="pl-5" target="_blank">Buy Porto!</a></li>
                <li class="float-right"><a href="#" class="pl-5">Special Offer!</a></li>
            </ul>
        </nav>
    </div>
    <!-- End .container -->
  </div>
  <!-- End .header-bottom -->
  </header>
  <!-- End .header -->