

    <div class="mobile-menu-overlay"></div>
    <!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="fa fa-times"></i></span>
            <nav class="mobile-nav">
                <ul class="mobile-menu">
                    <li><a href="{% url 'core:collections' %}">Home</a></li>
                    <li>
                        <a href="#">Pages<span class="tip tip-hot">Hot!</span></a>
                        <ul>
                            <li>
                                <a href="{% url 'core:order-summary' %}">Shopping Cart</a>
                            </li>
                            <li>
                                <a href="{% url 'core:checkout' %}">Checkout</a>
                            </li>
                            <li>
                                <a href="{% url 'core:dashboard' %}">Dashboard</a>
                            </li>
                            <li>
                                <a href="forgot-password.html">Forgot Password</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="mobile-menu mt-2 mb-2">
                    <li class="border-0">
                        <a href="#">
							Special Offer!
						</a>
                    </li>
                    <li class="border-0">
                        <a href="#" target="_blank">
							Fast-Sales!
							<span class="tip tip-hot">Hot</span>
						</a>
                    </li>
                </ul>
                <ul class="mobile-menu">
                    <li><a href="{% url 'core:dashboard' %}">My Account</a></li>
                    <li><a href="{% url 'core:contact' %}">Contact Us</a></li>
                    <li><a href="{% url 'core:order-summary' %}">Cart</a></li>
                    <li><a href="{% url 'core:checkout' %}">Checkout</a></li>
                    <li><a href="{{ signup_url }}">Register</a></li>
                    {% if request.user.is_authenticated %}
                        <li><a href="{% url 'account_logout' %}">Logout</a></li>
                    {% else %}
                        <li><a href="{% url 'account_login' %}">Login</a></li>
                    {% endif %}
                </ul>
            </nav>
            <!-- End .mobile-nav -->

            <div class="social-icons">
                <a href="#" class="social-icon social-facebook icon-facebook" target="_blank">
                </a>
                <a href="#" class="social-icon social-twitter icon-twitter" target="_blank">
                </a>
                <a href="#" class="social-icon social-instagram icon-instagram" target="_blank">
                </a>
            </div>
        </div>
        <!-- End .mobile-menu-wrapper -->
    </div>
    <!-- End .mobile-menu-container -->
