{% extends "base.html" %}

{% block content %}
<style>
  .text{
      background-color:darkgray;
      padding-left: 0px;
      color: floralwhite;
      font-size: 25px;
      text-decoration: none;
  }


</style>

    <!-- Breadcrumb Start -->
    <div class="container-fluid">
      <div class="row px-xl-5">
          <div class="col-12">
              <nav class="text">
                <a class="" href="{% url 'core:collections' %}">Category</a>>
                <a class="" href="{% url 'core:collectionsview'  products.category.slug %}">{{ products.category.title }}</a>>
                <a class="text-white" href="{% url 'core:productview' products.category.slug products.slug %}">{{ products.title }}</a>
              </nav>
          </div>
      </div>
  </div>
  <!-- Breadcrumb End -->

<main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <img src="{{ products.image.url }}" class="img-fluid" alt="" style="width: 100px;">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <!--Content-->
          <div class="p-4">

            <div class="mb-3">
              <a href="">
                <span class="badge purple mr-1">{{ products.get_category_display }}</span>
              </a>
            </div>

            <p class="lead">
              {% if products.discount_price %}
              <span class="mr-1">
                <del>${{ products.price }}</del>
              </span>
              <span>${{ products.discount_price }}</span>
              {% else %}
              <span>${{ products.price }}</span>
              {% endif %}
            </p>

            <p class="lead font-weight-bold">Description</p>

            <p>{{ products.description }}</p>
            <div class="d-flex align-items-center mb-4 pt-2">
                <div class="input-group quantity mr-3" style="width: 130px;">
                    <div class="input-group-btn">
                        {% if products.trending %}
                        <label style="font-size: 16px;" class="float-end badge bg-success trending_tag">TRENDING</label>
                        {% endif %}
                    </div>
                </div>
                <div class="input-group-btn">
                    {% if products.quantity %}
                    <label style="font-size: 16px;" class="float-end badge bg-warning trending_tag">IN STOCK</label>
                    {% else %}
                    <label style="font-size: 16px;" class="float-end badge bg-warning trending_tag">OUT OF STOCK</label>
                    {% endif%}
                </div>
            </div>
            <a href="{{ products.get_add_to_cart_url }}" class="btn btn-primary btn-md my-0 p">
              Add to cart
              <i class="fas fa-shopping-cart ml-1"></i>
            </a>
            <a href="{{ products.get_remove_from_cart_url }}" class="btn btn-danger btn-md my-0 p">
              Remove from cart
            </a>

          </div>
          <!--Content-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <hr>

      <!--Grid row-->
      <div class="row d-flex justify-content-center wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 text-center">

          <h4 class="my-4 h4">Additional information</h4>

          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus suscipit modi sapiente illo soluta odit
            voluptates,
            quibusdam officia. Neque quibusdam quas a quis porro? Molestias illo neque eum in laborum.</p>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4">

          <img src="{{ products.image.url }}" class="img-fluid" alt="" style="width: 100px;">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">

          <img src="{{ products.image2.url }}" class="img-fluid" alt="" style="width: 100px;">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">

          <img src="{{ products.image3.url }}" class="img-fluid" alt="" style="width: 100px;">

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>
  </main>


<!-- Products Start -->
<div class="container-fluid py-5">
  <div class="text-center mb-4">
      <h2 class="section-title px-5"><span class="px-2">You May Also Like</span></h2>
  </div>
  <div class="row px-xl-5">
      <div class="col">
          <div class="owl-carousel related-carousel">
              <div class="card product-item border-0">
                  <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                      <img class="img-fluid w-100" src="img/product-1.jpg" alt="">
                  </div>
                  <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                      <h6 class="text-truncate mb-3">Colorful Stylish Shirt</h6>
                      <div class="d-flex justify-content-center">
                          <h6>$123.00</h6><h6 class="text-muted ml-2"><del>$123.00</del></h6>
                      </div>
                  </div>
                  <div class="card-footer d-flex justify-content-between bg-light border">
                      <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View Detail</a>
                      <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a>
                  </div>
              </div>
              <div class="card product-item border-0">
                  <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                      <img class="img-fluid w-100" src="img/product-2.jpg" alt="">
                  </div>
                  <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                      <h6 class="text-truncate mb-3">Colorful Stylish Shirt</h6>
                      <div class="d-flex justify-content-center">
                          <h6>$123.00</h6><h6 class="text-muted ml-2"><del>$123.00</del></h6>
                      </div>
                  </div>
                  <div class="card-footer d-flex justify-content-between bg-light border">
                      <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View Detail</a>
                      <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a>
                  </div>
              </div>
              <div class="card product-item border-0">
                  <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                      <img class="img-fluid w-100" src="img/product-3.jpg" alt="">
                  </div>
                  <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                      <h6 class="text-truncate mb-3">Colorful Stylish Shirt</h6>
                      <div class="d-flex justify-content-center">
                          <h6>$123.00</h6><h6 class="text-muted ml-2"><del>$123.00</del></h6>
                      </div>
                  </div>
                  <div class="card-footer d-flex justify-content-between bg-light border">
                      <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View Detail</a>
                      <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a>
                  </div>
              </div>
              <div class="card product-item border-0">
                  <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                      <img class="img-fluid w-100" src="img/product-4.jpg" alt="">
                  </div>
                  <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                      <h6 class="text-truncate mb-3">Colorful Stylish Shirt</h6>
                      <div class="d-flex justify-content-center">
                          <h6>$123.00</h6><h6 class="text-muted ml-2"><del>$123.00</del></h6>
                      </div>
                  </div>
                  <div class="card-footer d-flex justify-content-between bg-light border">
                      <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View Detail</a>
                      <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a>
                  </div>
              </div>
              <div class="card product-item border-0">
                  <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                      <img class="img-fluid w-100" src="img/product-5.jpg" alt="">
                  </div>
                  <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                      <h6 class="text-truncate mb-3">Colorful Stylish Shirt</h6>
                      <div class="d-flex justify-content-center">
                          <h6>$123.00</h6><h6 class="text-muted ml-2"><del>$123.00</del></h6>
                      </div>
                  </div>
                  <div class="card-footer d-flex justify-content-between bg-light border">
                      <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View Detail</a>
                      <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Products End -->

{% endblock content %}
