{% extends "base1.html" %}
{% load static %}

{% block content %}
<div class="row">
    {% for item in products %}
        <div class="col-6 col-sm-4 col-md-3 col-xl-2">
            <div class="product-default">
                <figure>
                    <a href="{% url 'core:productview' cate_slug=item.category.slug prod_slug=item.slug %}">
                        <img src="{{ item.image.url }}" width="180" height="180" alt="product" />
                        <img src="{{ item.image.url }}" width="180" height="180" alt="product" />
                    </a>

                    <div class="label-group">
                        <div class="product-label label-sale">-20%</div>
                    </div>
                </figure>

                <div class="product-details">
                    <div class="category-wrap">
                        <div class="category-list">
                            <a href="category.html" class="product-category">Product Name</a>
                        </div>
                    </div>

                    <h3 class="product-title"> <a href="product.html">{{ item.title }}</a> </h3>

                    <div class="ratings-container">
                        <div class="product-ratings">
                            <span class="ratings" style="width:100%"></span>
                            <!-- End .ratings -->
                            <span class="tooltiptext tooltip-top"></span>
                        </div>
                        <!-- End .product-ratings -->
                    </div>
                    <!-- End .product-container -->

                    <div class="price-box">
                        <span class="old -price">${{ item.price }}</span>
                        $ <del><span class="product-price">{{ item.discount_price }}</span></del>
                    </div>
                    <!-- End .price-box -->
                    <div class="product-action">
                        <a href="{{ item.get_add_to_cart_url }}" class="btn-icon btn btn-outline-dark product-type-simple"><i
                                class="icon-shopping-cart"></i><span>ADD TO CART</span></a>
                    </div>
                </div>
                <!-- End .product-details -->
            </div>
        
        </div>
    {% endfor %}
    <!-- End .col-sm-4 -->
</div>  
{% endblock content %}